<div class="container ">
  <div class="py-5 text-center">
    <h2>Edit Trip</h2>
    <hr>
  </div>

  <div class="g-5 d-flex justify-content-center">
    <div class="col-md-7">
      <h4 class="mb-3">Edit Trip</h4>
      <form [formGroup]="formModel" (ngSubmit)='editTrip()' class="needs-validation" novalidate>
        <div class="row g-3">
          <div class="col-sm-12">
            <label for="name" class="form-label">Trip Name</label>
            <input type="text" formControlName="name" class="form-control" id="name" placeholder="name..." value = {{trip.name}} required>
            <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="invalid-feedback">
              wrong name
            </div>
          </div>

          <div class="col-sm-12">
            <label for="address" class="form-label">Trip Name</label>
            <input type="text" formControlName="address" class="form-control" id="address" placeholder="address..." value = {{trip.name}} required>
            <div *ngIf="address?.invalid && (address?.dirty || address?.touched)" class="invalid-feedback">
              wrong address
            </div>
          </div>

          <div class="col-6">
            <label for="startDate" class="form-label">Start Date</label>
            <div class="input-group has-validation">
              <input type="datetime-local" formControlName="startDate" class="form-control" id="startDate" value = {{trip.date_start}}  required>
              <div *ngIf="startDate?.invalid && (startDate?.dirty || startDate?.touched)" class="invalid-feedback">
               wrong date
              </div>
            </div>

          </div>

          <div class="col-6">
            <label for="endDate" class="form-label">End Date</label>
            <div class="input-group has-validation">
              <input type="datetime-local" formControlName="endDate" class="form-control" id="endDate" value = {{trip.date_end}}  required>
              <div *ngIf="(endDate?.dirty || endDate?.touched)">
                <div *ngIf="endDate?.invalid" class="invalid-feedback">
                  wrong date
                </div>
                <div *ngIf="endDate?.value<startDate?.value" class="invalid-feedback">
                  end date should be greater than start date
                </div>
              </div>
            </div>
          </div>




          <div class="col-sm-12">
            <label for="name" class="form-label">Description</label>
            <textarea type="text" formControlName="description" class="form-control" id="name" placeholder="write..." value= {{trip.description}} required></textarea>
          </div>





          <div class="col-sm-12" formArrayName="pictures">
            <hr>
            <h4>Pictures</h4>
            <button type="button" class="btn col btn-primary" (click)="addImage()">+ Add another picture</button>


            <div *ngFor="let picture of  pictures.controls; let i=index" >
              <label for="picture-{{ i }}" class="form-label">#{{i+1}} Picture: </label>
              <input id="picture-{{ i }}" type="text" [formControlName]="i" class="form-control">
              <button type="button" class="btn col btn-danger" (click)="removeImage(i)">Delete</button>
            </div>
          </div>

        </div>

        <hr class="my-4">

        <button class="btn col btn-success btn-lg" type="submit" [disabled]="!formModel.valid">Zapisz</button>
        <div class="row">

        </div>
      </form>
    </div>
  </div>
</div>
